{% extends 'base.html' %}

{% block title %} Add shop items {% endblock %}


{% block body %}

<table class="table table-dark table-hover">
   <thead>
    <tr>
        <th scope="col">Nombre del producto</th>
            <th scope="col">Precio anterior</th>
            <th scope="col">Precio actual</th>
            <th scope="col">En stock</th>
            <th scope="col">Imagen</th>
            <th scope="col">Flash Sale</th>
            <th scope="col">Agregar</th>
    </tr>
   </thead> 

   <tbody>
    <tr>
        <form action="" method="POST" enctype="multipart/form-data">

          
          {{ form.hidden_tag() }}
          
          <td>{{ form.nombre_producto }}</td>
          <td>{{ form.precio_previo }}</td>
          <td>{{ form.precio_actual }}</td>
          <td>{{ form.en_stock }}</td>
          <td>{{ form.imagen_producto() }}</td>
          <td>{{ form.flash_sale }}</td>
          <td>{{ form.agregar_producto() }}</td>
        </form>
    </tr>

   </tbody>

</table>



{% endblock %}